body
  margin: 0 auto
  font-family: nunito, sans-serif
  max-width: 850px
.hidden
  display: none
nav
  padding: 0 1rem
  text-align: center
  border-bottom: 1px solid black
// circle // Xavi hates the blur
  // filter: blur(3px) 
.last_circle
  filter: blur(0px)

nav a 
  text-decoration: none;

img
  width: 100%
  height: auto
  max-width: 850px
button  
  margin-top: 10px 
  
main
  display: grid
  grid-template-columns: repeat(8, 1fr)s
  .hero, .article-body, .article
    grid-column: 1 / 9
    margin: 0 1rem
    font-family: Miller,Georgia,Times,Times New Roman,serif
  .hero h3
    font-family: BentonSansCond,Helvetica,Arial,sans-serif
    font-size: smaller
  .article
    margin: 0 1rem 2rem
    line-height: 1.8
  .articlePhoto
    max-width: 100%
  .article-body
      // border-bottom: 1px solid black
      padding-bottom: 0rem
      margin-bottom: 2rem
  .container  
    grid-column: 1 / 9 
  .quiz-list
    grid-column: 1 / 9
    margin: 0 1rem
  .scatter-plot
    grid-column: 1 / 9
    margin: 0 1rem
    .tick:nth-child(3)  // to hide middle tick on scatter plot
      visibility: hidden;
  .range-container
    grid-column: 1 / 9
    padding: 1rem
    background: #eee
    margin: 0 1rem 4rem
    .range-title
      text-align: center
      margin: 0 0 1rem
    .respondent-count
      font-weight: 400
      color: #555
      text-align: center
      margin: 0 0 2rem
    .question
      margin: 1rem 0 4rem
      label
        display: block
        margin: 0 0 1rem
      input
        width: 100%
        cursor: pointer
      .ticks
        display: grid
        grid-template-columns: repeat(3, 1fr)
        .tick
          grid-column: span 1
          text-align: center
        .tick:nth-of-type(1)
          text-align: left
        .tick:nth-of-type(3)
          text-align: right
    .disabled
      color: #ccc
    .buttons // to stack buttons...
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      margin-bottom: 10px
  .past-clicks
    display: none
    grid-column: 2 / 8
    margin: 4rem auto
    .past-click
      padding: 1rem
      background: red
      margin: 0 0 1rem
  .answerTitle
    text-align: center
    font-size: small
    border: 1px dotted gray
    margin: 3em
    padding: 1em

@media only screen and ( min-width: 768px )
  main
    .hero, .article-body, .article
      grid-column: 1 / 9
    .scatter-plot
      grid-column: 1 / 9
    .range-container
      grid-column: 1 / 9
    .past-clicks
      grid-column: 1 / 9