body {
  margin: 0 auto;
  font-family: nunito, sans-serif;
  max-width: 850px;
}

.hidden {
  display: none;
}

nav {
  padding: 0 1rem;
  text-align: center;
  border-bottom: 1px solid black;
}

.last_circle {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

nav a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  max-width: 850px;
}

button {
  margin-top: 10px;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8] s;
      grid-template-columns: repeat(8, 1fr) s;
}

main .hero, main .article-body, main .article {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  margin: 0 1rem;
  font-family: Miller,Georgia,Times,Times New Roman,serif;
}

main .hero h3 {
  font-family: BentonSansCond,Helvetica,Arial,sans-serif;
  font-size: smaller;
}

main .article {
  margin: 0 1rem 2rem;
  line-height: 1.8;
}

main .articlePhoto {
  max-width: 100%;
}

main .article-body {
  padding-bottom: 0rem;
  margin-bottom: 2rem;
}

main .container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
}

main .quiz-list {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  margin: 0 1rem;
}

main .scatter-plot {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  margin: 0 1rem;
}

main .scatter-plot .tick:nth-child(3) {
  visibility: hidden;
}

main .range-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  padding: 1rem;
  background: #eee;
  margin: 0 1rem 4rem;
}

main .range-container .range-title {
  text-align: center;
  margin: 0 0 1rem;
}

main .range-container .respondent-count {
  font-weight: 400;
  color: #555;
  text-align: center;
  margin: 0 0 2rem;
}

main .range-container .question {
  margin: 1rem 0 4rem;
}

main .range-container .question label {
  display: block;
  margin: 0 0 1rem;
}

main .range-container .question input {
  width: 100%;
  cursor: pointer;
}

main .range-container .question .ticks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

main .range-container .question .ticks .tick {
  grid-column: span 1;
  text-align: center;
}

main .range-container .question .ticks .tick:nth-of-type(1) {
  text-align: left;
}

main .range-container .question .ticks .tick:nth-of-type(3) {
  text-align: right;
}

main .range-container .disabled {
  color: #ccc;
}

main .range-container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

main .past-clicks {
  display: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  margin: 4rem auto;
}

main .past-clicks .past-click {
  padding: 1rem;
  background: red;
  margin: 0 0 1rem;
}

main .answerTitle {
  text-align: center;
  font-size: small;
  border: 1px dotted gray;
  margin: 3em;
  padding: 1em;
}

@media only screen and (min-width: 768px) {
  main .hero, main .article-body, main .article {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
  }
  main .scatter-plot {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
  }
  main .range-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
  }
  main .past-clicks {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
  }
}
/*# sourceMappingURL=styles.css.map */