$BGDarkBlue: #005DC7
$BGDarkBlueOpaque: rgba(0, 93, 199, 0.5)
$BGRed: #9E1511
$BGOrange: #DE7D08
$BGLightGray: #DDDDDD
$BGMediumGray: #777777
$BGDarkGray: #444444

$RoundedCorners: 0.4rem
  
body
  margin: 0 auto
  font-family: nunito, sans-serif
  max-width: 850px
.hidden
  display: none
nav
  padding: 0 1rem
  text-align: center
  border-bottom: 1px solid black
// circle // Xavi hates the blur
  // filter: blur(3px) 
.last_circle
  filter: blur(0px)

nav a 
  text-decoration: none

img
  width: 100%
  height: auto
  max-width: 850px
  
main
  display: grid
  grid-template-columns: repeat(8, 1fr)s
  .hero, .article-body, .article
    grid-column: 1 / 9
    margin: 0 1rem
    font-family: Miller,Georgia,Times,Times New Roman,serif
  .hero h3
    font-family: BentonSansCond,Helvetica,Arial,sans-serif
    font-size: smaller
  .article
    margin: 0 1rem 2rem
    line-height: 1.8
  .articlePhoto
    max-width: 100%
  .article-body
      // border-bottom: 1px solid black
      padding-bottom: 0rem
      margin-bottom: 2rem
  .container  
    grid-column: 1 / 9 
  .quiz-list
    grid-column: 1 / 9
    margin: 0 1rem
  .ssBox 
    grid-column: 1 / 9
    padding: 1.4rem
    background: #eee
    border-radius: $RoundedCorners
    margin: 0 1rem 4rem
    .range-hero
      margin: 1rem 0 4rem
      .range-title
        text-align: center
        margin: 0
      .respondent-count
        font-weight: 400
        color: $BGMediumGray
        text-align: center
        margin: 1rem 0 0
    .scatter-plot
      grid-column: 1 / 9
      margin: 0 1rem
      .tick:nth-child(3)  // to hide middle tick on scatter plot
        visibility: hidden
    .range-container
      grid-column: 1 / 9
      .question
        margin: 2rem 0 3rem
        text-align: center
        .slider
          background: red
        label
          display: block
          margin: 0 0 1rem
        input
          width: 100%
          cursor: pointer
        .ticks
          display: grid
          grid-template-columns: repeat(3, 1fr)
          .tick
            color: $BGMediumGray
            font-size: 0.8rem
            font-weight: bold
            grid-column: span 1
            text-align: center
          .tick:nth-of-type(1)
            text-align: left
          .tick:nth-of-type(3)
            text-align: right
      .buttons
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center
        margin: 4rem 0 0
        button
          cursor: pointer
          color: white
          padding: 1rem
          background: $BGDarkBlue
          border: none
          border-radius: $RoundedCorners
          margin-top: 1rem
        .skip-button
          color: $BGMediumGray
          background: none
          border: none
          &:hover
            color: $BGDarkGray
        .disabled
          color: white
          background: $BGDarkBlueOpaque
  .past-clicks
    display: none
    grid-column: 2 / 8
    margin: 4rem auto
    .past-click
      padding: 1rem
      background: red
      margin: 0 0 1rem
  .answerTitle
    text-align: center
    font-size: small
    border: 1px dotted gray
    margin: 3em
    padding: 1em
  .sliderTitle
    grid-column: 1 / 9
    margin: 0 1rem 4rem
    text-align: center
    font-family: Miller,Georgia,Times,Times New Roman,serif // Mirroring Globe Opinion Font
    
.ssBox 
  grid-column: 1 / 9
  margin: 10px
  border: 1px solid black
  background: #f4f4f4

@media only screen and ( min-width: 768px )
  main
    .hero, .article-body, .article
      grid-column: 1 / 9
    .scatter-plot
      grid-column: 1 / 9
    .range-container
      grid-column: 1 / 9
    .past-clicks
      grid-column: 1 / 9

