body
  margin: 0 1rem
  font-family: nunito, sans-serif

.hidden
  display: none

nav
  padding: 0 1rem
  text-align: center
  border-bottom: 1px solid black

circle
  filter: blur(3px)

nav a 
  text-decoration: none;


main
  display: grid
  grid-template-columns: repeat(8, 1fr)
  .hero, .article-body
    grid-column: 1 / 9
    margin: 0 1rem
  .article-body
    padding: 0 0 2rem
    border-bottom: 1px solid black
    margin: 0 1rem 2rem
  .quiz-list
    grid-column: 1 / 9
    margin: 0 1rem
  .scatter-plot
    grid-column: 1 / 9
    margin: 0 1rem
  .range-container
    grid-column: 1 / 9
    margin: 0 1rem 4rem
    .question
      margin: 1rem 0 4rem
      label
        display: block
        margin: 0 0 1rem
      input
        width: 100%
        cursor: pointer
      .ticks
        display: grid
        grid-template-columns: repeat(3, 1fr)
        .tick
          grid-column: span 1
          text-align: center
        .tick:nth-of-type(1)
          text-align: left
        .tick:nth-of-type(3)
          text-align: right
    .disabled
      color: #ccc
    .buttons // to stack buttons...
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      margin-bottom: 10px
    .submit-button
      margin: 0 1rem 0 0
  .past-clicks
    display: none
    grid-column: 2 / 8
    margin: 4rem auto
    .past-click
      padding: 1rem
      background: #eee
      margin: 0 0 1rem

.scatter-plot h3
    text-align: center

@media only screen and ( min-width: 768px )
  main
    .hero, .article-body
      grid-column: 3 / 7
    .scatter-plot
      grid-column: 3 / 7
    .range-container
      grid-column: 3 / 7
    .past-clicks
      grid-column: 3 / 7